<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" >
    <meta name="description" content="해외 기상예보 크롤링 사이트">
    <meta name="keywords" content="날씨, 아큐웨더, accuweather, 기상청, 날씨, 외국기상청, The Weather Channel, BBC Weather">
<!--fabicon 설정-->
    <link rel="icon" href=https://cdn-icons-png.flaticon.com/128/128/128972.png>
    <link rel="apple-touch-icon" href=https://cdn-icons-png.flaticon.com/128/128/128972.png />

    <title>더 정확한 날씨</title>

<!--css 리셋, 글씨체 설정, stylesheet link-->
    <link rel="nomalize.css" href="css/nomalize.css" >
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="inner">

        </div>
    </header>
<!--메인 이미지 부분-->
    <section class="main_image">
        <div class="message">
        </div>
        <div class="input_container">
            <form action="/select" method="POST">
                <input id="input_style1" type="text" name="land_name" placeholder="거주지명을 입력해주세요."/>
                <button type="submit" id="button_style2">검색</button>
            </form>
        </div>
    </section>
    {% if graph_file != null %}
    <div class="graph_image">
        <img src = "{{ url_for('select', filename=graph_file)}}"></img>
    </div>
    {% endif %}
</body>
</html>